*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #202123;
    
}

#formQuestion{
    text-align: center;
    width: 50%;
    margin: 60px auto;
    padding-bottom: 15px;
    background-color: #202123;
    color: #FFD700;
    border-radius: 10px;
    box-shadow: #F3F6F9 0px 0px 7px;
}

h1{
    padding: 15px 15px;
    font-size: 2.5em;
    /* box-shadow: #202123 0px 0px 7px; */
}

label{
    display: block;
    margin: 20px auto 0 auto; ;
    font-size: 1.2em;
    color: #F3F6F9;
}

input{
    height: 30px;
    border-radius: 5px;
    padding-inline-start: 3%;
    font-size: 0.9em;
    align-items: center;
}

button{
    width: 100px;
    height: 30px;
    border-radius: 8px;
    background-color: #10A37F;
    color: #F7F7F8;
}

#pergunta{
    color: #F7F7F8;
}
