
/* ... Início do estilo ...*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #202123;    
}

#formQuestion{
    text-align: center;
    width: 50%;
    margin: 60px auto;
    padding-bottom: 15px;
    background-color: #202123;
    color: #FFD700;
    border-radius: 10px;
    box-shadow: #F3F6F9 0px 0px 7px;
}

h1{
    padding: 15px 15px;
    font-size: 2.5em;
}

label{
    display: block;
    margin: 20px auto 0 auto; ;
    font-size: 1.2em;
    color: #F3F6F9;
}

input{
    height: 30px;
    border-radius: 5px;
    padding-inline-start: 3%;
    font-size: 0.9em;
    align-items: center;
}

.falar{
    background-color: #F3F6F9;
    color: #202123;
    width: 80px;
    transition: opacity .3s;
}

.falar:hover{
    background-color: #F3F6F9;
    opacity: .9;
}

button{
    width: 100px;
    height: 30px;
    border-radius: 8px;
    background-color: #10A37F;
    color: #F7F7F8;
}

button:hover{
    background-color: #0E8B6A;
    cursor: pointer;
    transition: .3s ease;
}

#pergunta{
    color: #F7F7F8;
}

.contact p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #F3F6F9;
}

.contact a{
    color: #10A37F;
    text-decoration: none;
}

.contact a:hover{
    color: #0E8B6A;
    text-decoration: underline;
}

.contact span{
    color: #F3F6F9;
    font-weight: bold;
    font-size: 2em;
    transition: opacity .3s;
}

.contact span:hover{
    opacity: .8;
}

#progress-bar {
    width: 100%;
    height: 6px;
    background: #333;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 10px;
    display: none;
}

#progress-inner {
    width: 0;
    height: 100%;
    background: #FFD700; /* Cor amarela ouro */
    transition: width 0.3s;
}

/* ...Fim do estilo... */

/* Responsividade para telas pequenas */
@media (max-width: 600px) {
    #formQuestion {
        width: 55%;
        margin: 30px auto;
        padding: 10px;
        font-size: 1em;
    }

    h1 {
        font-size: 1.5em;
        padding: 10px 5px;
    }

    label {
        font-size: 1em;
        margin-top: 10px;
    }

    input, button {
        width: 100%;
        font-size: 1em;
        margin-top: 10px;
    }

    .contact span {
        font-size: 1.2em;
    }
}